@using WebQACustomerArea.Models;
@using PagedList.Mvc;
@model PagedList.PagedList<Product>
@{
    ViewBag.Title = "Sản phẩm mới";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!--
Sanphammoi
  -->
<div class="well well-small">
    <p><h3>Sản phẩm mới</h3></p>
    <hr class="soften" />
    <div class="row-fluid">
        <div id="newProductCar" class="carousel slide">
            <div class="carousel-inner">
                <div class="item active">
                    <ul class="thumbnails">
                        @foreach (var item in Model)
                        {
                            <li class="sanpham">
                                <div class="thumbnail">
                                    <a class="zoomTool" href="@Url.Action("XemChiTietSanPham","Home", new { @MaSanPham = item.Product_Id})"><span class="icon-search"></span> Xem ngay</a>
                                    <a href="#" class="tag"></a>
                                    <a href="@Url.Action("XemChiTietSanPham","Home", new { @MaSanPham = item.Product_Id})"><img src="@Url.Content("~/"+item.Product_Image)" /></a>
                                    <p style="margin-top:8px">@item.Product_Show</p>
                                    <p> <b>@item.Product_Price VNĐ</b></p>

                                </div>
                            </li>
                        }
                    </ul>
                </div>
            </div>
            Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)/@Model.PageCount
            @Html.PagedListPager(Model, page => Url.Action("SanPhamMoi", new { page = page }))

        </div>
    </div>
</div>
