@using WebQACustomerArea.Models;
@model List<Product>


<div class="carousel-inner">
    <div class="item active">
        <ul class="thumbnails">
            @foreach (var item in Model)
            {
                <li class="span3">
                    <div class="thumbnail">
                        <a class="zoomTool" href="@Url.Action("XemChiTietSanPham", "Home", new { @MaSanPham = item.Product_Id})" title="add to cart"><span class="icon-search"></span> Xem ngay</a>

                        <a href="#" class="tag"></a>
                        <a href="@Url.Action("XemChiTietSanPham","Home", new { @MaSanPham = item.Product_Id})"><img src="@Url.Content("~/"+item.Product_Image)" /></a>
                        <p style="margin-top:7px">@item.Product_Show</p>
                        <p> <b>@item.Product_Price VNĐ</b></p>

                    </div>
                </li>
            }
        </ul>
    </div>
</div>


