@using WebQACustomerArea.Models;
@using PagedList.Mvc;
@model PagedList.PagedList<Product>

@{
    ViewBag.Title = "Xem theo loại sản phẩm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!--
Sanphammoi
  -->
<div class="well well-small">
    <p><h3>Các loại sản phẩm </h3></p>
    <hr class="soften" />
    <div class="row-fluid">
        <div id="newProductCar" class="carousel slide">

            <div class="carousel-inner">
                <div class="item active">
                    <ul class="thumbnails">

                        @foreach (var item in Model)
                        {


                            <li class="span3">
                                <div class="thumbnail">
                                    <a class="zoomTool" href="@Url.Action("XemChiTietSanPham", "Home", new { @MaSanPham = item.Product_Id})" title="add to cart"><span class="icon-search"></span>Xem Ngay</a>

                                    <a href="#" class="tag"></a>
                                    <a href="product_details.html"><img src="@Url.Content("~/"+item.Product_Image)" /></a>
                                    <p>@item.Product_Show</p>
                                    <p> <b>@item.Product_Price VNĐ</b></p>

                                </div>
                            </li>
                        }

                    </ul>

                </div>
            </div>

            Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)/@Model.PageCount
            @Html.PagedListPager(Model, page => Url.Action("TungLoaiSanPham", new { @loai = WebQACustomerArea.Controllers.HomeController.loaiSP, @page = page }))



        </div>
    </div>

</div>
