@using WebQACustomerArea.Models;
@model  Product


@{
    ViewBag.Title = "XemChiTietSanPham";


}



<link href="~/Content/bootstrapa.css" rel="stylesheet" />
<link href="~/Content/userCss.css" rel="stylesheet" />
<link href="~/Content/fontmin.css" rel="stylesheet" />
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/Style.css" rel="stylesheet" />
<link href="~/Content/font.css" rel="stylesheet" />
<link href="~/favicon.ico" rel="shortcut icon" />

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="topNav">
        <div class="container">
            <div class="alignR">
                <div class="pull-left socialNw">
                    <a href="#"><span></span></a>
                    <a href="#"><span></span></a>
                    <a href="#"><span></span></a>
                    <a href="#"><span></span></a>
                </div>
            </div>
        </div>
    </div>
</div>

<!--
Lower Header Section
-->
<div class="container">
    <div id="gototop"> </div>
    <header id="header">
        <div class="row">
            <div class="span4">
                <h1>
                    <a class="logo" href="index.html">
                        <span>Twitter Bootstrap ecommerce template</span>

                        <img src="~/Images/images-logo-4Teen.png" />
                    </a>
                </h1>
            </div>
        </div>
    </header>

    <!--
    Navigation Bar Section
    -->
    <div class="navbar">
        <div class="navbar-inner">
            <div class="container">
                <a data-target=".nav-collapse" data-toggle="collapse" class="btn btn-navbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <div class="nav-collapse">
                    <ul class="nav" style="width:100%">
                        <li class=""><a class="" href="@Url.Action("TrangChu","Home")">Trang chủ</a></li>
                        <li class="dropdown">
                            <a href="@Url.Action("SanPhamMoi","Home")">Sản phẩm</a>
                            <ul class="dropdown-content">
                                <li><a href="@Url.Action("CacSanPham", "Home", new { @type = "Vay"})">Váy</a></li>
                                <li><a href="@Url.Action("CacSanPham", "Home", new { @type = "Quan"})">Quần</a></li>
                                <li><a href="@Url.Action("CacSanPham", "Home", new { @type = "Ao"})">Áo</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="@Url.Action("DangNhap","KhachHang")">Đăng nhập</a>
                            <ul style="width:150px" class="dropdown-content">
                                <li><a href="@Url.Action("DangKi","KhachHang")">Đăng kí</a></li>
                                <li><a href="@Url.Action("AdLogin","AdLogIn")">Dành cho Admin</a></li>
                            </ul>
                        </li>
                        <li class="" style="margin-left:30%">
                            <a style="float:left; padding-top:5px;padding-right:5px" href="@Url.Action("GioHang","GioHang")"><img style="width:25px; height:25px" src="~/Images/giohang.jpg" /></a>
                            <span style="float:right;margin-left:5px;margin-top:10px"><a style="color: #000; text-decoration:none" href="@Url.Action("GioHang","GioHang")">@Html.Action("TongTien", "giohang")  đ </a></span>
                            <span style="float:right;margin-top:10px"><a style="color: #000; text-decoration:none" href="@Url.Action("GioHang","GioHang")">  -  @Html.Action("TongSL", "giohang")  -  </a></span>
                        </li>
                        <li class="" style="padding:8px">
                            @using (Html.BeginForm("KetQuaTimKiem", "TimKiem", FormMethod.Post))
                            {
                                @Html.TextBox("txtTimKiem", "", htmlAttributes: new { @class = "search-query span2", @placeholder = "Tìm kiếm" })

                                <button type="submit"><img src="~/Images/1473536510_Search.png" /></button>
                            }
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!--
    Body Section
    -->
    <div class="row">
        <div id="sidebar" class="span3">
            <div class="well well-small1">
                <ul class="nav nav-list">
                    @Html.Action("DanhMuc", "Home")
                    <li style="border:0"> &nbsp;</li>
                    <li> <a class="totalInCart" href="cart.html"><strong>Total Amount  <span class="badge badge-warning pull-right" style="line-height:18px;">$448.42</span></strong></a></li>
                </ul>
            </div>

            <div class="well well-small alert alert-warning cntr">
                <h2>Sales 50% </h2>
                <p>
                    Từ ngày 1/4-3/4. <br><br><a class="defaultBtn" href="#">Click here </a>
                </p>
            </div>

            <!--
            Sanphambanchay
              -->

            <a class="shopBtn btn-block" href="#">Sản phẩm bán chạy<br><small>Click to view</small></a>
            <br>
            <br>
            <!---->         <ul class="nav nav-list promowrapper">

                <li style="border:0"> &nbsp;</li>
                <li>
                    <div class="thumbnail">
                        <a class="zoomTool" href="@Url.Action("XemChiTietSanPham", "Home", new { @MaSanPham = 24})"> Xem Ngay</a>

                        <img src="~/Images/yVwath_simg_ad6a59_806-806-0-0_cropf.jpg" />
                        <div class="caption">
                            <h4><a class="defaultBtn" href="product_details.html">TK12-145</a> <span class="pull-right">300.000</span></h4>
                        </div>
                    </div>
                </li>
                <li style="border:0"> &nbsp;</li>
                <li>
                    <div class="thumbnail">
                        <a class="zoomTool" href="@Url.Action("XemChiTietSanPham", "Home", new { @MaSanPham = 8})"><span class="icon-search"></span> QUICK VIEW</a>

                        <img src="~/Images/aophong3.jpg" />
                        <div class="caption">
                            <h4><a class="defaultBtn" href="product_details.html">TN27-03</a> <span class="pull-right">140.000</span></h4>
                        </div>
                    </div>
                </li>
            </ul>

        </div>
        <div id="khung">



            <!--
            Chi tiết sản phẩm
              -->
            <div class="well well-small">
                <h3>Chi tiết sản phẩm</h3>
                <hr class="soften" />
                <div class="row-fluid">
                    <div id="newProductCar" class="carousel slide">

                        <div class="thumbnail">

                            <a class="zoomTool" href="product_details.html" title="add to cart"></a>
                            <a href="#" class="tag"></a>
                            <a href=""><img src="@Url.Content("~/Images/" + Model.Product_Image) " /></a>


                            <p>Mã sản phẩm: @Model.Product_Show</p>
                            <p> Giá thành:<b>@Model.Product_Price VNĐ</b></p>
                            <p> Size:<b>@Model.Product_Size</b></p>
                            <p>Ghi chú:<b>@Model.Product_Note</b></p>
                            <div id="thongtin">
                                <p><h4><a class="button shopBtn" href="@Url.Action("themgiohang", "GioHang", new { @masp = Model.Product_Id, @url = Request.Url.ToString() })">Mua ngay</a></h4></p>
                            </div>
                        </div>

                    </div>
                </div>

            </div>

        </div>

    </div>
</div>
<footer class="footer" style="padding:20px">

    <div>
        <i>
            HOTLINE: 079.325.3797
            Hệ thống 4Teen tại Hải Phòng<br />
            14 – 16 Mê Linh, Hải Phòng<br />

            14 Phạm Minh Đức, Hải Phòng<br /><br />
        </i>
    </div>

    <div>
        <i>
            VỀ CHÚNG TÔI<br />
            4Teen - Thương hiệu thời trang nữ hàng đầu dành cho giới trẻ.
        </i>
    </div>
</footer>
<script src="~/Scripts/jquery.js"></script>
<script src="~/Scripts/bootstrap.minb.js"></script>

<script src="~/Scripts/jquery.easing-1.3.min.js"></script>
<script src="~/Scripts/jquery.scrollTo-1.4.3.1-min.js"></script>
<script src="~/Scripts/shop.js"></script>
