<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>@ViewBag.Title</title>
    @*<link href="~/assets/css/bootstrap.css" rel="stylesheet" />*@
    <link href="~/assets/css/bootstrap.min.css" rel="stylesheet" />
    @*<link href="~/Content/userCss.css" rel="stylesheet" />*@
    @*<link href="~/Content/fontmin.css" rel="stylesheet" />*@
    <link href="~/Content/Style.css" rel="stylesheet" />
    @*<link href="~/Content/font.css" rel="stylesheet" />*@
    <link href="~/assets/img/K1-store-dhhp-1.png" rel="shortcut icon" />
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body style="background-color:aliceblue">
    <header class="">

        <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
            <div class="container">
                <a class="navbar-brand" href="#">
                    <img src="~/assets/img/K1-store-dhhp-1.png" alt="" width="50" height="50" class="d-inline-block align-text-top rounded rounded-circle">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarColor02">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="@Url.Action("TrangChu","Home")">Trang chủ</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Loại sản phẩm
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                @Html.Action("DanhMuc", "Home")
                            </ul>
                        </li>
                        @*<li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Sản phẩm
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <li><a class="dropdown-item" href="@Url.Action("CacSanPham", "Home", new { @type = "Vay"})">Váy</a></li>
                                <li><a class="dropdown-item" href="@Url.Action("CacSanPham", "Home", new { @type = "Quan"})">Quần</a></li>
                                <li><a class="dropdown-item" href="@Url.Action("CacSanPham", "Home", new { @type = "Ao"})">Áo</a></li>
                            </ul>
                        </li>*@

                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("SanPhamMoi","Home")">Sản phẩm mới</a>
                        </li>
                    </ul>

                    <nav class="navbar">
                        <div class="container-fluid">
                            <span style="float:right;margin-left:5px;margin-top:10px"><a style="color: white; text-decoration:none" href="@Url.Action("GioHang","GioHang")">@Html.Action("TongTien", "giohang")  đ </a></span>
                            <a href="@Url.Action("GioHang","GioHang")" class="btn btn-success position-relative ms-1">
                                <i class="fa-solid fa-cart-plus"></i>
                                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                                    @Html.Action("TongSL", "giohang")
                                    <span class="visually-hidden">unread messages</span>
                                </span>
                            </a>
                        </div>
                    </nav>

                    @using (Html.BeginForm("KetQuaTimKiem", "TimKiem", FormMethod.Post, htmlAttributes: new { @class = "d-flex" }))
                    {
                        @Html.TextBox("txtTimKiem", "", htmlAttributes: new { @class = "form-control me-2", @placeholder = "Tìm kiếm" })

                        <button class="btn btn-outline-light" type="submit">Search</button>
                    }
                </div>
            </div>
        </nav>
        <img class="img-fluid w-100" src="~/Resources/Images/sb_1489472704_306.jpg" />
        @*<div class="mySlides fade" style="opacity: 1;">
            <img class="img-fluid" src="~/Resources/Images/sb_1490596751_719.jpg" />
        </div>
        <div class="mySlides fade" style="opacity: 1;">
            <img class="img-fluid" src="~/Resources/Images/sb_1489483560_462 (1).jpg" />
        </div>*@
    </header>

    <main class="mb-5">
        <!--
        Body Section
            DanhMuc ben trai
        -->
        @RenderBody()
    </main>
    <footer>
                <div style="background-color:#c1c1c1; margin-right:0" class="ps-5 row row-cols-1 row-cols-sm-2 row-cols-md-5 py-5 border-top">
                    <div class="col mb-3">
                        <img src="~/assets/img/K1-store-dhhp-1.png" class="d-inline-block rounded rounded-circle" width="100" height="100" />
                    </div>

                    <div class="col mb-3">

                    </div>

                    <div class="col mb-3">
                        <h5>Section</h5>
                        <ul class="nav flex-column">
                            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Home</a></li>
                            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Features</a></li>
                            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Pricing</a></li>
                        </ul>
                    </div>

                    <div class="col mb-3">
                        <h5>Section</h5>
                        <ul class="nav flex-column">
                            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Home</a></li>
                            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Features</a></li>
                            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Pricing</a></li>
                        </ul>
                    </div>

                    <div class="col mb-3">
                        <h5>Section</h5>
                        <ul class="nav flex-column">
                            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Home</a></li>
                            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Features</a></li>
                            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Pricing</a></li>
                        </ul>
                    </div>
                </div>
        <div class=" mt-5 fixed-bottom bg-primary text-light pe-5">
            <div class="d-flex flex-wrap justify-content-between align-items-center py-1 my-1">
                <div class="col-md-4 d-flex align-items-center">
                    <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
                        <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>
                    </a>
                    <span class="mb-3 mb-md-0 ">©copyright by Tien</span>
                </div>

                <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
                    <li class="ms-3"><a class="text-light" href="#"><i class="fa-brands fa-twitter"></i></a></li>
                    <li class="ms-3"><a class="text-light" href="#"><i class="fa-brands fa-instagram"></i></a></li>
                    <li class="ms-3"><a class="text-light" href="#"><i class="fa-brands fa-square-facebook"></i></a></li>
                </ul>
            </div>
        </div>
    </footer>
    
    <script>
        var slideIndex = 0;
        showSlides();

        function showSlides() {
            var i;
            var slides = document.getElementsByClassName("mySlides");
            for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";
            }
            slideIndex++;
            if (slideIndex > slides.length) { slideIndex = 1 }
            slides[slideIndex - 1].style.display = "block";
            setTimeout(showSlides, 3000); // Change image every 2 seconds
        }
    </script>
    <script src="~/Scripts/jquery.js"></script>
    <script src="~/assets/js/bootstrap.bundle.js"></script>
    <script src="~/Scripts/jquery.easing-1.3.min.js"></script>
    <script src="~/Scripts/jquery.scrollTo-1.4.3.1-min.js"></script>
    <script src="~/Scripts/shop.js"></script>
    <script src="https://kit.fontawesome.com/59a9964709.js" crossorigin="anonymous"></script>

    @RenderSection("footerJS", required: false)
</body>


</html>